*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}


/* ====================--- header section is start here --========================= */
.container{
    height: 58rem;
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: 100rem 50rem 0rem;
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    margin-top: 15%;
    margin-left: 9%;
    grid-column-start: 1;
    grid-column-end: 2;

}
.half-widthS{
    margin: 22% 0%;
    padding-right:6%; 


}
.half-widthS img{
    width: 100%;

}
h1{
    margin-bottom: 1rem;
}
h1 span{
    color: orange;
}
.welcomeMsg{
    font-size: 3.3rem;
}
.name{
    font-size: 4rem;    
}
.name span{
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    background-image: linear-gradient(to left, tomato, orange, tomato);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    font-size: 2rem;
    margin-bottom: .2rem;
}
h3 span{
    color: orange;
}
.header-p{
    line-height: 1.5;
    font-size: 2rem;
    text-align: justify;
    margin-top: 2rem;
    padding-right: 1rem;
}
.button{
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 2.5rem;
    padding:.8rem 1.8rem;
    border: none;
    font-size: 1.8rem;
    border-radius: .4rem;
    background-image: linear-gradient(to left, #ffbf49, rgb(255, 100, 73));
    transition: all .23s;
    cursor: pointer;
}
.button:hover{
    background-image: linear-gradient(to right, #ffbf49, rgb(255, 100, 73));
}
/* ====================--- header section is end here --========================= */



/* ====================--- dream section is start here --========================= */
.dream-sec{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-widthh{
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 6%;
}
.half-widthh img{
    width: 100%;

}
.half-widthSS{
    margin: 5% 3%;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-right: 12rem;
}
.dream-secHead{
    font-size: 3rem;
    margin-bottom: .6rem;
    background-image: linear-gradient(to left, tomato, orange, tomato);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dream-p{
    margin-top: 1.2rem;
    padding-right:3rem;
    line-height: 1.5;
    font-size: 2rem;
    text-align: justify;
}
.resume-btn{
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 2.5rem;
    padding:.8rem 1.8rem;
    border: none;
    font-size: 1.8rem;
    border-radius: .4rem;
    background-image: linear-gradient(to left, #ffbf49, rgb(255, 100, 73));
    transition: all .23s;
    cursor: pointer;
}
.resume-btn:hover{
        background-image: linear-gradient(to right, #ffbf49, rgb(255, 100, 73));
}
/* ====================--- dream section is end here --========================= */



/* ====================--- expeerience section is start here --========================= */
.experience-secHead{
    margin-top: 15rem;
    margin-bottom: 4rem;
    font-size: 4rem;
    text-align: center;
    background-image: linear-gradient(to left, tomato, orange, tomato);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.experience-sec{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 6rem;
    padding-bottom: 12rem;
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-sec h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.experience-sec h4{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: orange;
}
.experience-sec p{
    text-align: justify;
    font-size: 1.6rem;
    opacity: .6;
    line-height: 1.4;
    width: 85%;
}
.left-div{
    padding: 3.5rem;
    border-radius: 12px;
    border-left: 6px solid #00A3F4;
background: transparent;
box-shadow:  5px 5px 18px #9b9b9b,
             -5px -5px 18px #ffffff;
    margin-left: 15%;
    height: 30rem;
    transition-duration: .5s;
}
.left-div:hover{
    transform: scale(1.1,1.1);
}
.left-div::before{
    content: "";
    height: 100%;
    width: 2%;
    background-color: orange;
}
.right-div{
    padding: 3.5rem;
    border-radius: 12px;
    border-right: 6px solid #00A3F4;
background: transparent;
box-shadow:  5px 5px 18px #9b9b9b,
             -5px -5px 18px #ffffff;
             margin-right: 15%;
    height: 30rem;
    transition-duration: .5s;
    margin-right: 15%;
}
.right-div:hover{
    transform: scale(1.1,1.1);
}
/* ====================--- expeerience section is end here --========================= */


/* ====================--- footer section is here --========================= */
footer p{
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 0;
}
/* ====================================--- THE--END --=============================================== */
